<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/images/logo/LogoArbol.png">

    <title>@ViewData["Title"] - Las Paseras</title>

    <!-- Vendors Style-->
    <link rel="stylesheet" href="../css/vendors_css.css">

    <!-- Style-->
    <link rel="stylesheet" href="../css/horizontal-menu.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/skin_color.css">
</head>
<body class="layout-top-nav dark-skin theme-primary fixed">
    @using System.Text.Json;
    @using Microsoft.AspNetCore.Http;
    @using Restaurante.Data.DBModels;
    @inject IHttpContextAccessor HttpContextAccessor;
    @{
        var usuario = JsonSerializer.Deserialize<Usuario>(HttpContextAccessor.HttpContext.Session.GetString("UserSession"));
    }
    <div class="wrapper">
        <div id="loader"></div>

        <header class="main-header">
            <div class="inside-header">
                <div class="d-flex align-items-center logo-box justify-content-start">
                    <!-- Logo -->
                    <a href="index.html" class="logo">
                        <!-- logo-->
                        <div class="logo-lg">
                            <span class="light-logo"><img src="../images/logo-dark-text.png" alt="logo"></span>
                            <span class="dark-logo">
                                <img src="~/images/logo/LogoArbol.png" alt="logo" style="width:25%">
                                <img src="~/images/logo/logo-text.png" alt="logo" style="width:50%">
                            </span>
                        </div>
                    </a>
                </div>
                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <div class="app-menu">
                        <ul class="header-megamenu nav">
                            <li class="btn-group nav-item d-none d-xl-inline-block">
                                <div class="app-menu">
                                    <div class="search-bx mx-5">
                                        <form>
                                            <div class="input-group">
                                                <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                                                <div class="input-group-append">
                                                    <button class="btn" type="submit" id="button-addon3"><i class="ti-search"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="navbar-custom-menu r-side">
                        <ul class="nav navbar-nav">
                            @*<li class="btn-group nav-item d-lg-inline-flex d-none">
                                    <a href="#" data-provide="fullscreen" class="waves-effect waves-light nav-link full-screen btn-info-light" title="Full Screen">
                                        <i class="icon-Expand-arrows"><span class="path1"></span><span class="path2"></span></i>
                                    </a>
                                </li>*@
                            <!-- Notifications -->
                            <li class="dropdown notifications-menu">
                                <span class="label label-primary">5</span>
                                <a href="#" class="waves-effect waves-light dropdown-toggle btn-primary-light" data-bs-toggle="dropdown" title="Notifications">
                                    <i class="icon-Notifications"><span class="path1"></span><span class="path2"></span></i>
                                </a>
                                <ul class="dropdown-menu animated bounceIn">

                                    <li class="header">
                                        <div class="p-20">
                                            <div class="flexbox">
                                                <div>
                                                    <h4 class="mb-0 mt-0">Notifications</h4>
                                                </div>
                                                <div>
                                                    <a href="#" class="text-danger">Clear All</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu sm-scrol">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-info"></i> Curabitur id eros quis nunc suscipit blandit.
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-warning text-warning"></i> Duis malesuada justo eu sapien elementum, in semper diam posuere.
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-danger"></i> Donec at nisi sit amet tortor commodo porttitor pretium a erat.
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-shopping-cart text-success"></i> In gravida mauris et nisi
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-user text-danger"></i> Praesent eu lacus in libero dictum fermentum.
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-user text-primary"></i> Nunc fringilla lorem
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-user text-success"></i> Nullam euismod dolor ut quam interdum, at scelerisque ipsum imperdiet.
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer">
                                        <a href="#">View all</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown messages-menu">
                                <span class="label label-danger"></span>
                                <a onclick="Hablame()" href="javascript:void(0)" class="dropdown-toggle btn-danger-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="icon-Mic"><span class="path1"></span><span class="path2"></span></i>
                                </a>
                            </li>
                            <!-- Right Sidebar Toggle Button -->
                            <li class="btn-group nav-item">
                                <a href="#" class="push-btn right-bar-btn waves-effect waves-light nav-link full-screen btn-info-light">
                                    <span class="icon-Layout-left-panel-1"><span class="path1"></span><span class="path2"></span></span>
                                </a>
                            </li>
                            <!-- User Account-->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle p-0 text-dark hover-primary ms-md-30 ms-10" data-bs-toggle="dropdown" title="User">
                                    <span class="ps-30 d-md-inline-block d-none">Hola,</span> <strong class="d-md-inline-block d-none">@usuario.Nombre</strong><img src="../images/avatar/avatar-11.png" class="user-image rounded-circle avatar bg-white mx-10" alt="User Image">
                                </a>
                                <ul class="dropdown-menu animated flipInX">
                                    <li class="user-body">
                                        <a class="dropdown-item" href="/Usuario/MiPerfil"><i class="ti-user text-muted me-2"></i> Mi Perfil</a>
                                        <a class="dropdown-item" href="/Usuario/Staff"><i class="ti-wallet text-muted me-2"></i> Ver Staff</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="@Url.Action("LogOff", "Login")"><i class="ti-lock text-muted me-2"></i> Cerrar Sesión</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <nav class="main-nav" role="navigation">

            <!-- Mobile menu toggle button (hamburger/x icon) -->
            <input id="main-menu-state" type="checkbox" />
            <label class="main-menu-btn" for="main-menu-state">
                <span class="main-menu-btn-icon"></span> Toggle main menu visibility
            </label>

            <!-- Sample menu definition -->
            <ul id="main-menu" class="sm sm-blue">
                @if (usuario.IdRol == 1 || usuario.IdRol == 2)
                {

                    <li><a href="../Login/Dashboard"><i class="icon-Home"><span class="path1"></span><span class="path2"></span></i>Dashboard</a></li>
                    <li>
                        <a href="#"><i class="icon-Dinner"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>Menú</a>
                        <ul>
                            <li><a href="../Producto/Productos"><i class="mdi mdi-food"><span class="path1"></span><span class="path2"></span></i>Productos</a></li>
                            <li><a href="../Complemento/Complementos"><i class="mdi mdi-cookie"><span class="path1"></span><span class="path2"></span></i>Complementos</a></li>
                            <li><a href="../Categoria/Categorias"><i class="mdi mdi-format-list-bulleted-type"><span class="path1"></span><span class="path2"></span></i>Categorías</a></li>
                        </ul>

                    </li>
                    <li>
                        <a href="#"><i class="mdi mdi-account-multiple"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>Personas</a>
                        <ul>
                            <li><a href="../Usuario/Usuarios"><i class="iconsmind-Add-UserStar"><span class="path1"></span><span class="path2"></span></i>Staff</a></li>
                            <li><a href="../Login/Dashboard"><i class="ti ti-truck"><span class="path1"></span><span class="path2"></span></i>Proveedores</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="mdi mdi-file-export"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>Administrar</a>
                        <ul>
                            <li><a href="../Cuenta/Cuentas"><i class="fa fa-sticky-note-o"><span class="path1"></span><span class="path2"></span></i> Cuentas</a></li>
                            <li><a href="../Venta/Ventas"><i class="fa fa-money"><span class="path1"></span><span class="path2"></span></i> Ventas</a></li>
                        </ul>
                    </li>

                    <li><a href="../Mesa/Mesas"><i class="fa fa-th-large"><span class="path1"></span><span class="path2"></span></i>Mesas</a></li>

                }
                <li><a href="../Cuenta/Cuentas?idEmpleado=@usuario.Id"><i class="fa fa-sticky-note"><span class="path1"></span><span class="path2"></span></i>Mis Cuentas</a></li>
            </ul>
        </nav>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="container-full">
                <!-- Content Header (Page header) -->
                @RenderBody()
            </div>
        </div>
        <!-- /.content-wrapper -->
        <!-- Content Right Sidebar -->
        <div class="right-bar">
            <div id="sidebarRight">
                <div class="right-bar-inner">
                    <div class="text-end position-relative">
                        <a href="#" class="btn right-bar-btn waves-effect waves-circle btn btn-circle btn-danger btn-sm">
                            <i class="mdi mdi-close"></i>
                        </a>
                    </div>
                    <div class="right-bar-content">
                        <div class="box no-shadow box-bordered border-light">
                            <div class="box-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h5>Total Sale</h5>
                                        <h2 class="mb-0">$254.90</h2>
                                    </div>
                                    <div class="p-10">
                                        <div id="chart-spark1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="my-0">6 total orders</h5>
                                    <a href="#" class="mb-0">View Report</a>
                                </div>
                            </div>
                        </div>
                        <div class="box no-shadow box-bordered border-light">
                            <div class="box-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h5>Total Sessions</h5>
                                        <h2 class="mb-0">845</h2>
                                    </div>
                                    <div class="p-10">
                                        <div id="chart-spark2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="#" class="btn btn-primary-light btn-sm">Live</a>
                                    <a href="#" class="btn btn-info-light btn-sm">4 Visitors</a>
                                    <a href="#" class="btn btn-success-light btn-sm">See Live View</a>
                                </div>
                            </div>
                        </div>
                        <div class="box no-shadow box-bordered border-light">
                            <div class="box-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h5>Customer rate</h5>
                                        <h2 class="mb-0">5.12%</h2>
                                    </div>
                                    <div class="p-10">
                                        <div id="chart3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="my-0"><span class="badge badge-xl badge-dot badge-primary me-10"></span>First Time</h5>
                                    <h5 class="my-0"><span class="badge badge-xl badge-dot badge-danger me-10"></span>Returning</h5>
                                </div>
                            </div>
                        </div>
                        <div class="box no-shadow box-bordered border-light">
                            <div class="box-header">
                                <h4 class="box-title">Resent Activity</h4>
                            </div>
                            <div class="box-body p-5">
                                <div class="media-list media-list-hover">
                                    <a class="media media-single mb-10 p-0 rounded-0" href="#">
                                        <h4 class="w-50 text-gray fw-500">10:10</h4>
                                        <div class="media-body ps-15 bs-5 rounded border-primary">
                                            <p>Morbi quis ex eu arcu auctor sagittis.</p>
                                            <span class="text-fade">by Johne</span>
                                        </div>
                                    </a>

                                    <a class="media media-single mb-10 p-0 rounded-0" href="#">
                                        <h4 class="w-50 text-gray fw-500">08:40</h4>
                                        <div class="media-body ps-15 bs-5 rounded border-success">
                                            <p>Proin iaculis eros non odio ornare efficitur.</p>
                                            <span class="text-fade">by Amla</span>
                                        </div>
                                    </a>

                                    <a class="media media-single mb-10 p-0 rounded-0" href="#">
                                        <h4 class="w-50 text-gray fw-500">07:10</h4>
                                        <div class="media-body ps-15 bs-5 rounded border-info">
                                            <p>In mattis mi ut posuere consectetur.</p>
                                            <span class="text-fade">by Josef</span>
                                        </div>
                                    </a>

                                    <a class="media media-single mb-10 p-0 rounded-0" href="#">
                                        <h4 class="w-50 text-gray fw-500">01:15</h4>
                                        <div class="media-body ps-15 bs-5 rounded border-danger">
                                            <p>Morbi quis ex eu arcu auctor sagittis.</p>
                                            <span class="text-fade">by Rima</span>
                                        </div>
                                    </a>

                                    <a class="media media-single mb-10 p-0 rounded-0" href="#">
                                        <h4 class="w-50 text-gray fw-500">23:12</h4>
                                        <div class="media-body ps-15 bs-5 rounded border-warning">
                                            <p>Morbi quis ex eu arcu auctor sagittis.</p>
                                            <span class="text-fade">by Alaxa</span>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="text-center">
                                    <a href="#" class="mb-0">Load More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Content Right Sidebar -->

        <footer class="main-footer">
            <div class="pull-right d-none d-sm-inline-block">
                <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Producto Registrado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kraken Soft</a>
                    </li>
                </ul>
            </div>
            Las Paseras Restaurante Bar @DateTime.Now.Year.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar">

            <div class="rpanel-title"><span class="pull-right btn btn-circle btn-danger"><i class="ion ion-close text-white" data-toggle="control-sidebar"></i></span> </div>  <!-- Create the tabs -->
            <ul class="nav nav-tabs control-sidebar-tabs">
                <li class="nav-item"><a href="#control-sidebar-home-tab" data-bs-toggle="tab" class="active"><i class="mdi mdi-message-text"></i></a></li>
                <li class="nav-item"><a href="#control-sidebar-settings-tab" data-bs-toggle="tab"><i class="mdi mdi-playlist-check"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <div class="flexbox">
                        <a href="javascript:void(0)" class="text-grey">
                            <i class="ti-more"></i>
                        </a>
                        <p>Users</p>
                        <a href="javascript:void(0)" class="text-end text-grey"><i class="ti-plus"></i></a>
                    </div>
                    <div class="lookup lookup-sm lookup-right d-none d-lg-block">
                        <input type="text" name="s" placeholder="Buscar cuenta por mesa" class="w-p100">
                    </div>
                    <div class="media-list media-list-hover mt-20">
                        <div class="media py-10 px-0">
                            <a class="avatar avatar-lg status-success" href="#">
                                <img src="../images/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <p class="fs-16">
                                    <a class="hover-primary" href="#"><strong>Tyler</strong></a>
                                </p>
                                <p>Praesent tristique diam...</p>
                                <span>Just now</span>
                            </div>
                        </div>

                        <div class="media py-10 px-0">
                            <a class="avatar avatar-lg status-danger" href="#">
                                <img src="../images/avatar/2.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <p class="fs-16">
                                    <a class="hover-primary" href="#"><strong>Luke</strong></a>
                                </p>
                                <p>Cras tempor diam ...</p>
                                <span>33 min ago</span>
                            </div>
                        </div>

                        <div class="media py-10 px-0">
                            <a class="avatar avatar-lg status-warning" href="#">
                                <img src="../images/avatar/3.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <p class="fs-16">
                                    <a class="hover-primary" href="#"><strong>Evan</strong></a>
                                </p>
                                <p>In posuere tortor vel...</p>
                                <span>42 min ago</span>
                            </div>
                        </div>

                        <div class="media py-10 px-0">
                            <a class="avatar avatar-lg status-primary" href="#">
                                <img src="../images/avatar/4.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <p class="fs-16">
                                    <a class="hover-primary" href="#"><strong>Evan</strong></a>
                                </p>
                                <p>In posuere tortor vel...</p>
                                <span>42 min ago</span>
                            </div>
                        </div>

                        <div class="media py-10 px-0">
                            <a class="avatar avatar-lg status-success" href="#">
                                <img src="../images/avatar/1.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <p class="fs-16">
                                    <a class="hover-primary" href="#"><strong>Tyler</strong></a>
                                </p>
                                <p>Praesent tristique diam...</p>
                                <span>Just now</span>
                            </div>
                        </div>

                        <div class="media py-10 px-0">
                            <a class="avatar avatar-lg status-danger" href="#">
                                <img src="../images/avatar/2.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <p class="fs-16">
                                    <a class="hover-primary" href="#"><strong>Luke</strong></a>
                                </p>
                                <p>Cras tempor diam ...</p>
                                <span>33 min ago</span>
                            </div>
                        </div>

                        <div class="media py-10 px-0">
                            <a class="avatar avatar-lg status-warning" href="#">
                                <img src="../images/avatar/3.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <p class="fs-16">
                                    <a class="hover-primary" href="#"><strong>Evan</strong></a>
                                </p>
                                <p>In posuere tortor vel...</p>
                                <span>42 min ago</span>
                            </div>
                        </div>

                        <div class="media py-10 px-0">
                            <a class="avatar avatar-lg status-primary" href="#">
                                <img src="../images/avatar/4.jpg" alt="...">
                            </a>
                            <div class="media-body">
                                <p class="fs-16">
                                    <a class="hover-primary" href="#"><strong>Evan</strong></a>
                                </p>
                                <p>In posuere tortor vel...</p>
                                <span>42 min ago</span>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <div class="flexbox">
                        <a href="javascript:void(0)" class="text-grey">
                            <i class="ti-more"></i>
                        </a>
                        <p>Todo List</p>
                        <a href="javascript:void(0)" class="text-end text-grey"><i class="ti-plus"></i></a>
                    </div>
                    <ul class="todo-list mt-20">
                        <li class="py-15 px-5 by-1">
                            <!-- checkbox -->
                            <input type="checkbox" id="basic_checkbox_1" class="filled-in">
                            <label for="basic_checkbox_1" class="mb-0 h-15"></label>
                            <!-- todo text -->
                            <span class="text-line">Nulla vitae purus</span>
                            <!-- Emphasis label -->
                            <small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
                            <!-- General tools such as edit or delete-->
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li class="py-15 px-5">
                            <!-- checkbox -->
                            <input type="checkbox" id="basic_checkbox_2" class="filled-in">
                            <label for="basic_checkbox_2" class="mb-0 h-15"></label>
                            <span class="text-line">Phasellus interdum</span>
                            <small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li class="py-15 px-5 by-1">
                            <!-- checkbox -->
                            <input type="checkbox" id="basic_checkbox_3" class="filled-in">
                            <label for="basic_checkbox_3" class="mb-0 h-15"></label>
                            <span class="text-line">Quisque sodales</span>
                            <small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li class="py-15 px-5">
                            <!-- checkbox -->
                            <input type="checkbox" id="basic_checkbox_4" class="filled-in">
                            <label for="basic_checkbox_4" class="mb-0 h-15"></label>
                            <span class="text-line">Proin nec mi porta</span>
                            <small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li class="py-15 px-5 by-1">
                            <!-- checkbox -->
                            <input type="checkbox" id="basic_checkbox_5" class="filled-in">
                            <label for="basic_checkbox_5" class="mb-0 h-15"></label>
                            <span class="text-line">Maecenas scelerisque</span>
                            <small class="badge bg-primary"><i class="fa fa-clock-o"></i> 1 week</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li class="py-15 px-5">
                            <!-- checkbox -->
                            <input type="checkbox" id="basic_checkbox_6" class="filled-in">
                            <label for="basic_checkbox_6" class="mb-0 h-15"></label>
                            <span class="text-line">Vivamus nec orci</span>
                            <small class="badge bg-info"><i class="fa fa-clock-o"></i> 1 month</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li class="py-15 px-5 by-1">
                            <!-- checkbox -->
                            <input type="checkbox" id="basic_checkbox_7" class="filled-in">
                            <label for="basic_checkbox_7" class="mb-0 h-15"></label>
                            <!-- todo text -->
                            <span class="text-line">Nulla vitae purus</span>
                            <!-- Emphasis label -->
                            <small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
                            <!-- General tools such as edit or delete-->
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li class="py-15 px-5">
                            <!-- checkbox -->
                            <input type="checkbox" id="basic_checkbox_8" class="filled-in">
                            <label for="basic_checkbox_8" class="mb-0 h-15"></label>
                            <span class="text-line">Phasellus interdum</span>
                            <small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li class="py-15 px-5 by-1">
                            <!-- checkbox -->
                            <input type="checkbox" id="basic_checkbox_9" class="filled-in">
                            <label for="basic_checkbox_9" class="mb-0 h-15"></label>
                            <span class="text-line">Quisque sodales</span>
                            <small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li class="py-15 px-5">
                            <!-- checkbox -->
                            <input type="checkbox" id="basic_checkbox_10" class="filled-in">
                            <label for="basic_checkbox_10" class="mb-0 h-15"></label>
                            <span class="text-line">Proin nec mi porta</span>
                            <small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!--<div id="chat-box-body">
        <div id="chat-circle" class="waves-effect waves-circle btn btn-circle btn-sm btn-warning l-h-45">
            <div id="chat-overlay"></div>
            <span class="icon-Group-chat fs-18"><span class="path1"></span><span class="path2"></span></span>
        </div>

        <div class="chat-box">
            <div class="chat-box-header p-15 d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button class="waves-effect waves-circle btn btn-circle btn-primary-light h-40 w-40 rounded-circle l-h-45" type="button" data-bs-toggle="dropdown">
                        <span class="icon-Add-user fs-22"><span class="path1"></span><span class="path2"></span></span>
                    </button>
                    <div class="dropdown-menu min-w-200">
                        <a class="dropdown-item fs-16" href="#">
                            <span class="icon-Color me-15"></span>
                            New Group
                        </a>
                        <a class="dropdown-item fs-16" href="#">
                            <span class="icon-Clipboard me-15"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
                            Contacts
                        </a>
                        <a class="dropdown-item fs-16" href="#">
                            <span class="icon-Group me-15"><span class="path1"></span><span class="path2"></span></span>
                            Groups
                        </a>
                        <a class="dropdown-item fs-16" href="#">
                            <span class="icon-Active-call me-15"><span class="path1"></span><span class="path2"></span></span>
                            Calls
                        </a>
                        <a class="dropdown-item fs-16" href="#">
                            <span class="icon-Settings1 me-15"><span class="path1"></span><span class="path2"></span></span>
                            Settings
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item fs-16" href="#">
                            <span class="icon-Question-circle me-15"><span class="path1"></span><span class="path2"></span></span>
                            Help
                        </a>
                        <a class="dropdown-item fs-16" href="#">
                            <span class="icon-Notifications me-15"><span class="path1"></span><span class="path2"></span></span>
                            Privacy
                        </a>
                    </div>
                </div>
                <div class="text-center flex-grow-1">
                    <div class="text-dark fs-18">Mayra Sibley</div>
                    <div>
                        <span class="badge badge-sm badge-dot badge-primary"></span>
                        <span class="text-muted fs-12">Active</span>
                    </div>
                </div>
                <div class="chat-box-toggle">
                    <a id="chat-box-toggle" class="waves-effect waves-circle btn btn-circle btn-danger-light h-40 w-40 rounded-circle l-h-45" href="#">
                        <span class="icon-Close fs-22"><span class="path1"></span><span class="path2"></span></span>
                    </a>
                </div>
            </div>
            <div class="chat-box-body">
                <div class="chat-box-overlay">
                </div>
                <div class="chat-logs">
                    <div class="chat-msg user">
                        <div class="d-flex align-items-center">
                            <span class="msg-avatar">
                                <img src="../images/avatar/2.jpg" class="avatar avatar-lg">
                            </span>
                            <div class="mx-10">
                                <a href="#" class="text-dark hover-primary fw-bold">Mayra Sibley</a>
                                <p class="text-muted fs-12 mb-0">2 Hours</p>
                            </div>
                        </div>
                        <div class="cm-msg-text">
                            Hi there, I'm Jesse and you?
                        </div>
                    </div>
                    <div class="chat-msg self">
                        <div class="d-flex align-items-center justify-content-end">
                            <div class="mx-10">
                                <a href="#" class="text-dark hover-primary fw-bold">You</a>
                                <p class="text-muted fs-12 mb-0">3 minutes</p>
                            </div>
                            <span class="msg-avatar">
                                <img src="../images/avatar/3.jpg" class="avatar avatar-lg">
                            </span>
                        </div>
                        <div class="cm-msg-text">
                            My name is Anne Clarc.
                        </div>
                    </div>
                    <div class="chat-msg user">
                        <div class="d-flex align-items-center">
                            <span class="msg-avatar">
                                <img src="../images/avatar/2.jpg" class="avatar avatar-lg">
                            </span>
                            <div class="mx-10">
                                <a href="#" class="text-dark hover-primary fw-bold">Mayra Sibley</a>
                                <p class="text-muted fs-12 mb-0">40 seconds</p>
                            </div>
                        </div>
                        <div class="cm-msg-text">
                            Nice to meet you Anne.<br>How can i help you?
                        </div>
                    </div>
                </div>-->
    <!--chat-log -->
    <!--</div>
            <div class="chat-input">
                <form>
                    <input type="text" id="chat-input" placeholder="Send a message..." />
                    <button type="submit" class="chat-submit" id="chat-submit">
                        <span class="icon-Send fs-22"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>-->


    <button hidden id="btnSpeak"></button>
    <!-- Pedido Manual -->
    <div id="modalPedidoManual" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Large modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h4>Overflowing text to show scroll behavior</h4>
                    <div class="row col-md-12">
                        @*<img id="img" src="~/Content/images/mapRestaurent.png" />*@
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Cuenta -->
    <div id="modalCuenta" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Cuenta Actualizada</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-xlg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Cuenta de Mesa #9</h4>
                                    <table id="dtCuenta" class="table browser m-t-30 no-border">
                                        <thead style="text-align:center">
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="text-right" style="font-size:28px; color:white">
                                        TOTAL: <strong>$138.00</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Salir</button>*@
                        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal"><i class="fa fa-money"></i> Pagar Cuenta</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pedido Automatico -->
    <div id="modalPedidoAuto" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Confirma nuevo pedido</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-xlg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title" id="txtPedido">¿Agregar 4 coronas a Mesa #9?</h4>
                                    <table class="table browser m-t-30 no-border">
                                        <tbody>
                                            <tr>
                                                <td id="txtImagen" style="width:40px"><img id="imgProducto" src="" width="70" alt=logo /></td>
                                                <td id="txtProdcuto">4 Coronas</td>
                                                <td id="txtPrecio" class="text-right" style="font-size:25px; color:white">$22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p id="txtTotal" class="text-right" style="font-size:28px; color:white">
                                        TOTAL: <strong>$94.00</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form id="formVenta">
                        <input type="hidden" name="unidades" id="unidades" />
                        <input type="hidden" name="precioVenta" id="precioVenta" />
                        <input type="hidden" name="descuento" id="descuento" />
                        <input type="hidden" name="idProducto" id="idProducto" />
                        <input type="hidden" name="idCuenta" id="idCuenta" />
                    </form>
                    <button type="button" id="btnEnviarVenta" style="visibility:hidden;"></button>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect text-left" onclick="EnviarVenta()"><i class="fa fa-plus"></i> Agregar pedido</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    <!-- NUEVO PRODUCTO A CUENTA - MODAL -->
    <div class="modal fade bd-as" id="modal-cuentas" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle"><i class="icon-microphone" style="color:white"></i> Habla con rita, tu asistente personal.</h5>
                    <button type="button" class="close txtWhite" data-dismiss="modal" aria-label="Close">
                        <i class="icon-close"></i>
                    </button>
                </div>
                <div class="modal-body" style="background-color: #212121; text-align: center">
                    <h1 id="txtIdicacion">¡Di lo tuyo!</h1>
                    <a id="btnSpeakON" href="#">
                        <img src="~/assets/VozATexto/micRecording.gif" />
                    </a>
                    <a id="btnSpeakOFF" href="#">
                        <img id="gifOFF" src="~/assets/VozATexto/micRecordingOFF.gif" />
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- Page Content overlay -->
    <!-- Vendor JS -->
    <script src="~/js/vendors.min.js"></script>
    <script src="~/js/pages/chat-popup.js"></script>
    <script src="~/assets/vendor_components/apexcharts-bundle/dist/apexcharts.min.js"></script>
    <script src="~/assets/icons/feather-icons/feather.min.js"></script>

    <!-- Riday Admin App -->
    <script src="~/js/jquery.smartmenus.js"></script>
    <script src="~/js/menus.js"></script>
    <script src="~/js/template.js"></script>

    <!-- Messages -->
    <script src="~/assets/vendor_components/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/vendor_components/sweetalert/jquery.sweet-alert.custom.js"></script>

    <!-- VALIDATOR -->
    <script src="~/js/parsley.js"></script>

    <!-- ELEMENTS FORM -->
    @*<script src="~/assets/vendor_components/select2/dist/js/select2.full.js"></script>*@
    <script src="~/assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="~/assets/vendor_components/dropzone/dropzone.js"></script>
    <script src="~/assets/vendor_components/raty-master/lib/jquery.raty.js"></script>
    <script src="~/js/pages/component-rating-init.js"></script>
    <!-- ELEMENTS FORM -->
    <script src="~/js/pages/list.js"></script>
    <script src="~/assets/vendor_components/datatable/datatables.min.js"></script>
    <script src="~/js/pages/data-table.js"></script>

    <!-- This is COMANDAS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/vendor_components/gridstack/lodash.js"></script>
    <script src="~/assets/vendor_components/gridstack/gridstack.js"></script>
    <script src="~/assets/vendor_components/gridstack/gridstack.jQueryUI.js"></script>
    <script src="~/js/pages/gridstackjs.js"></script>
    <!-- This is COMANDAS -->
    <script src="~/assets/VozATexto/Rita.js"></script>
    <script src="~/assets/VozATexto/script.js"></script>
    <script type="text/javascript">
                var nombre = '@usuario.Nombre';
    </script>

    @RenderSection("Scripts", required: false)


</body>
</html>
