@using System.Text.Json;
@using Microsoft.AspNetCore.Http;
@using Restaurante.Data.DBModels;
@using Restaurant.Model;
@inject IHttpContextAccessor HttpContextAccessor;
@model Cuenta
@{
    ViewBag.Title = "Cuentas";
    var usuario = JsonSerializer.Deserialize<Usuario>(HttpContextAccessor.HttpContext.Session.GetString("UserSession"));
    var config = JsonSerializer.Deserialize<List<Configuracionsistema>>(HttpContextAccessor.HttpContext.Session.GetString("ConfigSession"));
    var listaProductos = Model.RelCuentaProductos.GroupBy(u => u.IdProducto).Select(grp => grp.ToList()).ToList();
}

<!-- CSS -->
<link href="~/css/receipt.css" rel="stylesheet" />

<!-- Modal - Receipt -->
<div class="modal fade" id="modalReceipt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="print-container" id="invoice-POS">
                    <br />

                    <center id="top">
                        <div class="logo">
                            <img id="PrintLogo" src="~/images/logo/@config[1].Valor" />
                        </div>
                        <div class="info">
                            <p class="h2Ti">@config[6].Valor</p>
                        </div>
                    </center>

                    <div id="mid">
                        <div class="info">
                            <p class="h3Ti" id="ticketMetodo"></p>
                            <p class="h3Ti">@GlobalConfig.GetMexDate().ToShortDateString() @GlobalConfig.GetMexDate().ToShortTimeString()</p>
                        </div>
                    </div>
                    <br />
                    <div id="bot">
                        <div id="table" style="width:100%">
                            <table>
                                <tr class="tabletitle">
                                    <td class="item"><p class="h2Ti">NOMBRE PRODUCTO</p></td>
                                    <td class="Hours"><p class="h2Ti">#</p></td>
                                    <td class="Rate"><p class="h2Ti">PRECIO</p></td>
                                </tr>
                                @foreach (var obj in listaProductos)
                                {
                                    var cantidad = 0;
                                    foreach (var item in obj)
                                    {
                                        cantidad = cantidad + Convert.ToInt32(item.Cantidad);
                                    }
                                <tr class="service">
                                    <td style="width:60%" class="tableitem"><p class="itemtext">@obj[0].Nombre</p></td>
                                    <td style="width:10%" class="tableitem"><p class="itemtext">@cantidad</p></td>
                                    <td style="width:30%" class="tableitem"><p class="itemtext">$@obj[0].Precio</p></td>
                                </tr>
                                }
                                <tr>
                                    <td colspan="3" class="lineTxt">________________________________</td>
                                </tr>
                                <tr class="h2Ti">
                                    <td class="Rate"><p class="totalText">TOTAL</p></td>
                                    <td class="payment" colspan="2"><p class="totalCantidad">$@Model.total</p></td>
                                </tr>
                                <tr class="h2Ti">
                                    <td class="Rate"><p class="h3Ti">Comisión Clip</p></td>
                                    <td class="payment"><p class="h3Ti" id="ticketInteres">$0</p></td>
                                    <td></td>
                                </tr>
                                <tr class="h2Ti">
                                    <td class="Rate"><p class="h3Ti">Propina</p></td>
                                    <td class="payment" colspan="2"><p class="h3Ti" id="ticketPropina">$0</p></td>
                                </tr>
                            </table>
                        </div><!--End Table-->
                        <div id="legalcopy">
                            <p class="legal">
                                <span class="lineTxt">________________________________</span>
                                <strong>¡Gracias por tu visita! :D</strong>
                        <br />Te atendió @usuario.Nombre
                        <span>******************************</span>
                        </p>
                        </div>
                        <br />
                    </div><!--End InvoiceBot-->
                    @*<br />
                        <br />*@
                </div><!--End Invoice-->

            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" data-bs-dismiss="modal">Cancelar</a>
                <a onclick="window.print();" class="btn btn-success"><i class="fa fa-print"></i> Imprimir</a>
            </div>
        </div>
    </div>
</div>