@using Restaurante.Model.DTOs;
@using Restaurante.Data.DBModels;
@using System.Text.Json;
@model Cuenta
@{
    ViewBag.Title = "Detalle de Cuenta";
}

<section class="content">
    <div class="row">

        <div class="col-12 col-lg-5">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Ingresa cantidad y añade producto</h4>
                </div>
                <div class="box-body p-0">
                    <div class="media-list media-list-hover media-list-divided inner-user-div" style="height: 500px">
                        @foreach (var item in ViewBag.ListaProductos)
                        {
                            <div class="media media-single">
                                <a href="#">
                                    <img class="avatar avatar-lg rounded bg-success-light" src="https://kraken-soft.com/images/productos/@item.RutaImagen" alt="...">
                                </a>

                                <div class="media-body">
                                    <h6><a href="#">@item.Nombre</a></h6>
                                    <small class="text-fader">@item.Descripcion</small>
                                </div>

                                <div class="media-right">
                                    <input type="number" class="form-control" value="1" id="@item.Nombre" style="text-align:center;" />
                                </div>
                                <div class="media-right">
                                    <a class="btn btn-info btn-sm" href="javascript:AgregarProducto(@item.Id, @item.Nombre);">Agregar</a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <div class="text-center bt-1 border-light p-10">
                    <a class="text-uppercase d-block fs-12" href="#">Buscar</a>
                </div>
            </div>
        </div>


        <div class="col-12 col-lg-7">
            <div class="box">
                <div class="box-header bg-info">
                    <h4 class="box-title">Productos (@Model.RelCuentaProductos.Count) de Cuenta #@Model.Id </h4>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table product-overview">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th style="text-align:center">Total</th>
                                    @*<th style="text-align:center">Acci</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var obj in Model.RelCuentaProductos)
                                {
                                    <tr>
                                        <td><img src="https://kraken-soft.com/images/productos/@obj.IdProductoNavigation.RutaImagen" alt="" width="80"></td>
                                        <td>
                                            <h5>@obj.Nombre</h5>
                                            <p>@obj.IdProductoNavigation.Descripcion</p>
                                        </td>
                                        <td>$@obj.Precio</td>
                                        <td width="70">@obj.Cantidad</td>
                                        <td width="100" align="center" class="fw-900">$@(Convert.ToDecimal(obj.Cantidad) * Convert.ToDecimal(obj.Precio)) </td>
                                        @*<td align="center"><a href="javascript:void(0)" class="btn btn-circle btn-danger btn-xs" title="" data-bs-toggle="tooltip" data-bs-original-title="Delete"><i class="ti-trash"></i></a></td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

@section scripts
{
    @*<script src="../Scripts/Productos.js"></script>*@

    <script>
        //Envia a liquidar cuenta
        function AgregarProducto(idProducto, nombre) {
            let cantidad = document.getElementById(nombre.id).value;

            if (cantidad == "" || cantidad == "0") {
                swal({ title: "¡Atención!", text: "Selecciona una cantidad para el producto " + nombre, type: "info" });
                return false;
            }

            $.ajax({
                url: "AddProduct",
                data: { IdProducto: idProducto, Cantidad: cantidad, IdCuenta: @Model.Id },
                type: 'POST',
                dataType: "json",
                success: function (data) {
                    if (data.responseCode == 200) {
                        swal({ title: 'Éxito', text: data.message, type: "success", },
                            function (isConfirm) { if (isConfirm) { location.reload(true); } });
                    } else {
                        swal({ title: "Error", text: data.message, icon: "error" });
                    }
                }, error: function (err) {
                    swal({ title: "Error Inesperado", text: err.responseText, icon: "error" });
                }
            }).done(function (data) {
                //AlertExpiration(data);
            });
        };
    </script>
}